body{
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    background-color: blanchedalmond;
}

.content{
    background-color: #efebde;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

a{
    text-align: center;
    color: 	#dbd2d2;
    text-decoration: none;
}

a:hover{
    color: darkblue;
}

a:visited{
    color: 	#010101;
}

a#logo{

}

nav{
    background-color: #8b0000;
}

ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 1rem; 
    
}

li{
    margin: 1rem;
    font-size: 1em;
}

li:hover{
    background-color: #6e0101;
}

.personalInfo{
    display: grid;
    grid-template-columns: 650px auto;
}

.tableMap{
    width: 600px;
    grid-column: 1;
}

.personalInfo form{
    width: 50px;
}

footer{
    margin-top: 1em;
    background-color: #8b0000;
}

@media screen and (min-width: 600px)
{
    .container{
        
    }

    .flexContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}

@media screen and (min-width: 900px)
{
    .content{
        max-width: 90%;
        margin: 0 auto;
        padding: 2em;
    }

    .flexContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    a#logo{
        margin-right: 40em;
    }
    
    .logoFooter{
        margin-left: 25em;
    }
    
    .footerLeft{
        grid-column: 1;
    }
    
    .footerRight{
        grid-column: 2;
    }
    
}