.openingHours{
    background-color: aquamarine;
    height: 200px;
}

.menu{
    background-color: burlywood;
    height: 200px;
}

.alreadyBooked{
    background-color: cadetblue;
    height: 200px;
}

.footerLeft{
    background-color: cornflowerblue;
}

.footerRight{
    background-color: darkgray;
}


@media screen and (min-width: 600px)
{
    .container{
        
    }

    .flexContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .openingHours, .menu{
        flex-grow: 1;
    }

}

@media screen and (min-width: 900px)
{
    .container{
        
    }

    footer{
        height: 200px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
    .footerLeft{
        grid-column: 1;
    }
    
    .footerRight{
        grid-column: 2;
    }
    
}